.container_box_pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 100px;
    padding: 50px;
    background-color: blueviolet;
}

.container_box_filho {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 60px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid black;
    transition-property: transform, text-shadow, box-shadow, color, background-color;
    transition-duration: 1.5s;
}

.container_box_filho:hover {
    background-color: white;
    transform: scaleX(1.1) scaleY(1.1);
    text-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 2px black;
    color: yellow;
}

.container div {
    margin: 20px;
}

#container_box_button {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#container_box_button p {
    font-size: 25px;
    height: 50px;
    padding: 5px;
    margin-right: 50px;
}

#container_box_button button {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    transition-property: transform, background-color;
    transition-duration: 1.5s;
}

#container_box_button button:hover {
    transform: scaleX(1.1) scaleY(1.1);
}

#resultado {
    width: 200px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    background-color: white;
}
